# Database
DATABASE_URL=mysql+pymysql://user:password@localhost/dbname

# Auth
SECRET_KEY=tu_secret_key_de_desarrollo
REFRESH_SECRET_KEY=tu_refresh_secret_de_desarrollo
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Admin Root
ROOT_USERNAME=admin
ROOT_EMAIL=admin@ejemplo.com
ROOT_PASSWORD=password_seguro

# Supabase Storage
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_key_aqui
SUPABASE_BUCKET_NAME=nombre_del_bucket